In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [2]:
pwd

'/Users/milivanili/Desktop/CF Document 6/02 Scripts'

In [3]:
#Importing dataset
df=pd.read_csv(r'/Users/milivanili/Desktop/CF Document 6/01 Data/Original Data/death cause.csv')
df.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 31 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    6840 non-null   object
 1   Code                                      6150 non-null   object
 2   Year                                      6840 non-null   int64
 3   Outdoor air pollution                     6840 non-null   int64
 4   High systolic blood pressure              6840 non-null   int64
 5   Diet high in sodium                       6840 non-null   int64
 6   Diet low in whole grains                  6840 non-null   int64
 7   Alochol use                               6840 non-null   int64
 8   Diet low in fruits                        6840 non-null   int64
 9   Unsafe water source                       6840 non-null   int64
 10  Secondhand smoke                          6840 non-null   int64
 11  Low birth weight                          6840 non-null   int64
 12  Child wasting                             6840 non-null   int64
 13  Unsafe sex                                6840 non-null   int64
 14  Diet low in nuts and seeds                6840 non-null   int64
 15  Household air pollution from solid fuels  6840 non-null   int64
 16  Diet low in Vegetables                    6840 non-null   int64
 17  Low physical activity                     6840 non-null   int64
 18  Smoking                                   6840 non-null   int64
 19  High fasting plasma glucose               6840 non-null   int64
 20  Air pollution                             6840 non-null   int64
 21  High body mass index                      6840 non-null   int64
 22  Unsafe sanitation                         6840 non-null   int64
 23  No access to handwashing facility         6840 non-null   int64
 24  Drug use                                  6840 non-null   int64
 25  Low bone mineral density                  6840 non-null   int64
 26  Vitamin A deficiency                      6840 non-null   int64
 27  Child stunting                            6840 non-null   int64
 28  Discontinued breastfeeding                6840 non-null   int64
 29  Non-exclusive breastfeeding               6840 non-null   int64
 30  Iron deficiency                           6840 non-null   int64
dtypes: int64(29), object(2)
memory usage: 1.6+ MB

In [5]:
df.describe()

,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,Secondhand smoke,Low birth weight,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
count,6840.000000,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,...,6.840000e+03,6.840000e+03,6.840000e+03,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000
mean,2004.500000,8.458244e+04,2.242249e+05,4.049716e+04,3.869129e+04,5.484860e+04,2.395776e+04,4.408638e+04,3.036401e+04,5.912551e+04,...,8.986992e+04,3.152155e+04,2.179989e+04,10285.202047,8182.473246,2471.594444,11164.329678,431.456725,7171.853070,1421.363596
std,8.656074,3.511973e+05,8.634691e+05,1.752832e+05,1.479084e+05,2.112090e+05,9.451573e+04,2.020493e+05,1.222861e+05,2.502265e+05,...,3.450420e+05,1.463434e+05,9.668259e+04,39960.745145,32403.922936,12718.303403,52866.245579,1901.531732,31678.447189,6303.931822
min,1990.000000,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,...,2.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1997.000000,4.337500e+02,1.827750e+03,1.370000e+02,2.737500e+02,2.637500e+02,1.440000e+02,7.000000e+00,2.090000e+02,1.230000e+02,...,9.185000e+02,3.000000e+00,1.900000e+01,31.000000,43.000000,0.000000,1.000000,0.000000,3.000000,1.000000
50%,2004.500000,2.101000e+03,8.770500e+03,9.695000e+02,1.444000e+03,1.780500e+03,8.345000e+02,1.825000e+02,9.940000e+02,1.057000e+03,...,3.917000e+03,1.020000e+02,2.210000e+02,222.000000,277.000000,2.000000,41.500000,4.000000,60.500000,12.000000
75%,2012.000000,1.181025e+04,4.035550e+04,5.169750e+03,6.773250e+03,8.368000e+03,3.104750e+03,5.599250e+03,4.347750e+03,1.090325e+04,...,1.796775e+04,3.854000e+03,3.953500e+03,1224.250000,1232.000000,230.250000,1563.250000,71.250000,1315.500000,238.000000
max,2019.000000,4.506193e+06,1.084560e+07,1.885356e+06,1.844836e+06,2.441973e+06,1.046015e+06,2.450944e+06,1.304318e+06,3.033425e+06,...,5.019360e+06,1.842275e+06,1.200349e+06,494492.000000,437884.000000,207555.000000,833449.000000,33106.000000,505470.000000,73461.000000

In [6]:
#chanege scientific notation into regular
pd.options.display.float_format = '{:.2f}'.format

In [7]:
df.describe()

,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,Secondhand smoke,Low birth weight,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
count,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,...,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00,6840.00
mean,2004.50,84582.44,224224.86,40497.16,38691.29,54848.60,23957.76,44086.38,30364.01,59125.51,...,89869.92,31521.55,21799.89,10285.20,8182.47,2471.59,11164.33,431.46,7171.85,1421.36
std,8.66,351197.31,863469.14,175283.19,147908.40,211209.00,94515.73,202049.30,122286.06,250226.51,...,345042.02,146343.43,96682.59,39960.75,32403.92,12718.30,52866.25,1901.53,31678.45,6303.93
min,1990.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,...,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1997.00,433.75,1827.75,137.00,273.75,263.75,144.00,7.00,209.00,123.00,...,918.50,3.00,19.00,31.00,43.00,0.00,1.00,0.00,3.00,1.00
50%,2004.50,2101.00,8770.50,969.50,1444.00,1780.50,834.50,182.50,994.00,1057.00,...,3917.00,102.00,221.00,222.00,277.00,2.00,41.50,4.00,60.50,12.00
75%,2012.00,11810.25,40355.50,5169.75,6773.25,8368.00,3104.75,5599.25,4347.75,10903.25,...,17967.75,3854.00,3953.50,1224.25,1232.00,230.25,1563.25,71.25,1315.50,238.00
max,2019.00,4506193.00,10845595.00,1885356.00,1844836.00,2441973.00,1046015.00,2450944.00,1304318.00,3033425.00,...,5019360.00,1842275.00,1200349.00,494492.00,437884.00,207555.00,833449.00,33106.00,505470.00,73461.00

In [8]:
#checking missing data
df.isnull().sum()

Entity                                        0
Code                                        690
Year                                          0
Outdoor air pollution                         0
High systolic blood pressure                  0
Diet high in sodium                           0
Diet low in whole grains                      0
Alochol use                                   0
Diet low in fruits                            0
Unsafe water source                           0
Secondhand smoke                              0
Low birth weight                              0
Child wasting                                 0
Unsafe sex                                    0
Diet low in nuts and seeds                    0
Household air pollution from solid fuels      0
Diet low in Vegetables                        0
Low physical activity                         0
Smoking                                       0
High fasting plasma glucose                   0
Air pollution                                 0
High body mass index                          0
Unsafe sanitation                             0
No access to handwashing facility             0
Drug use                                      0
Low bone mineral density                      0
Vitamin A deficiency                          0
Child stunting                                0
Discontinued breastfeeding                    0
Non-exclusive breastfeeding                   0
Iron deficiency                               0
dtype: int64

In [9]:
#Adding missing values for variable 'Code'
df_nan = df [df['Code'].isnull() == True]

In [10]:
df_nan

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alochol use,Diet low in fruits,Unsafe water source,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
30,African Region (WHO),NaN,1990,93970,356866,46758,45763,175615,43476,809960,...,119182,604349,473096,8214,13858,101145,305355,10812,168704,18607
31,African Region (WHO),NaN,1991,96436,365975,47439,46897,179795,44504,829073,...,123606,618112,481775,10201,14292,100842,308125,11186,175016,18768
32,African Region (WHO),NaN,1992,99700,377948,48304,48317,184243,45996,819085,...,129692,610436,480386,12749,14774,99075,307088,11006,172502,19064
33,African Region (WHO),NaN,1993,101913,386490,48805,49393,186482,46972,815640,...,132880,607549,480444,15605,15037,97309,305786,10929,172418,19209
34,African Region (WHO),NaN,1994,105532,398794,49520,50736,191043,48357,832168,...,139411,619531,488628,19030,15490,96777,306251,10970,174425,19504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6745,World Bank Upper Middle Income,NaN,2015,1953125,4298815,1046866,711062,961051,348914,34910,...,1804399,16788,37778,158483,131969,251,5176,728,9657,1985
6746,World Bank Upper Middle Income,NaN,2016,1969630,4389967,1065553,724482,968200,350770,34179,...,1860369,16072,37789,161699,135254,246,4929,681,9098,1903
6747,World Bank Upper Middle Income,NaN,2017,1965467,4440677,1076496,733454,969102,350295,33561,...,1901543,15374,36961,161312,137207,223,4508,645,8192,1811
6748,World Bank Upper Middle Income,NaN,2018,1976456,4514262,1089508,746871,982487,352573,32732,...,1955352,14565,36002,162808,139013,197,4056,599,7479,1767
6749,World Bank Upper Middle Income,NaN,2019,2039121,4631739,1114910,765521,1005865,357923,32326,...,2031572,14054,35668,164931,141840,185,3699,555,6972,1726

Cleaning data, drop 'Entity' with groups of countries

In [11]:
#Cleaning Entity groups
toDrop = ['G20',
    'African Region (WHO)',
    'East Asia & Pacific (WB)',
    'Eastern Mediterranean Region (WHO)',
    'Europe & Central Asia (WB)',
    'European Region (WHO)',
    'Latin America & Caribbean (WB)',
    'Middle East & North Africa (WB)',
    'North America (WB)', 'OECD Countries',
    'Region of the Americas (WHO)', 
    'South Asia (WB)', 
    'South-East Asia Region (WHO)',
    'Sub-Saharan Africa (WB)',
    'Western Pacific Region (WHO)',
    'World',
    'World Bank High Income',
    'World Bank Low Income',
    'World Bank Lower Middle Income',
    'World Bank Upper Middle Income']

df= df[~df['Entity'].isin(toDrop)]

In [12]:
#Checking shape
df.shape

(6240, 31)

In [13]:
#Checking duplicates
df.duplicated().sum()

0

In [14]:
#Changing column names for clarification
df.rename(columns={"Entity":"Country","Child stunting":"Child stunted growt","Alochol use":"Alcohol use"}, inplace=True)

In [15]:
#Cheking output
df.head()

,Country,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body mass index,Unsafe sanitation,No access to handwashing facility,Drug use,Low bone mineral density,Vitamin A deficiency,Child stunted growt,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [16]:
#Converting 'Year' into data Type 'str'
df['Year'] = df['Year'].astype('str')

Creating new columns by Continents

Antartica as 7th Continent t does not have permanent human residents, the region is a busy outpost for a variety of research scientists.

In [17]:
# Dictionary mapping countries to continents = 

country_to_continent =  {'Afghanistan': 'Asia',
    'Albania': 'Europe',
    'Algeria': 'Africa',
    'American Samoa': 'Oceania',
    'Andorra': 'Europe',
    'Angola': 'Africa',
    'Antigua and Barbuda': 'North America',
    'Argentina': 'South America',
    'Armenia': 'Asia',
    'Australia': 'Oceania',
    'Austria': 'Europe',
    'Azerbaijan': 'Asia',
    'Bahamas': 'North America',
    'Bahrain': 'Asia',
    'Bangladesh': 'Asia',
    'Barbados': 'North America',
    'Belarus': 'Europe',
    'Belgium': 'Europe',
    'Belize': 'North America',
    'Benin': 'Africa',
    'Bermuda': 'North America',
    'Bhutan': 'Asia',
    'Bolivia': 'South America',
    'Bosnia and Herzegovina': 'Europe',
    'Botswana': 'Africa',
    'Brazil': 'South America',
    'Brunei': 'Asia',
    'Bulgaria': 'Europe',
    'Burkina Faso': 'Africa',
    'Burundi': 'Africa',
    'Cambodia': 'Asia',
    'Cameroon': 'Africa',
    'Canada': 'North America',
    'Cape Verde': 'Africa',
    'Central African Republic': 'Africa',
    'Chad': 'Africa',
    'Chile': 'South America',
    'China': 'Asia',
    'Colombia': 'South America',
    'Comoros': 'Africa',
    'Congo': 'Africa',
    'Cook Islands': 'Oceania',
    'Costa Rica': 'North America',
    'Cote d\'Ivoire': 'Africa',
    'Croatia': 'Europe',
    'Cuba': 'North America',
    'Cyprus': 'Asia',
    'Czechia': 'Europe',
    'Democratic Republic of Congo': 'Africa',
    'Denmark': 'Europe',
    'Djibouti': 'Africa',
    'Dominica': 'North America',
    'Dominican Republic': 'North America',
    'East Timor': 'Asia',
    'Ecuador': 'South America',
    'Egypt': 'Africa',
    'El Salvador': 'North America',
    'England': 'Europe',
    'Equatorial Guinea': 'Africa',
    'Eritrea': 'Africa',
    'Estonia': 'Europe',
    'Eswatini': 'Africa',
    'Ethiopia': 'Africa',
    'Fiji': 'Oceania',
    'Finland': 'Europe',
    'France': 'Europe',
    'Gabon': 'Africa',
    'Gambia': 'Africa',
    'Georgia': 'Asia',
    'Germany': 'Europe',
    'Ghana': 'Africa',
    'Greece': 'Europe',
    'Greenland': 'North America',
    'Grenada': 'North America',
    'Guam': 'Oceania',
    'Guatemala': 'North America',
    'Guinea': 'Africa',
    'Guinea-Bissau': 'Africa',
    'Guyana': 'South America',
    'Haiti': 'North America',
    'Honduras': 'North America',
    'Hungary': 'Europe',
    'Iceland': 'Europe',
    'India': 'Asia',
    'Indonesia': 'Asia',
    'Iran': 'Asia',
    'Iraq': 'Asia',
    'Ireland': 'Europe',
    'Israel': 'Asia',
    'Italy': 'Europe',
    'Jamaica': 'North America',
    'Japan': 'Asia',
    'Jordan': 'Asia',
    'Kazakhstan': 'Asia',
    'Kenya': 'Africa',
    'Kiribati': 'Oceania',
    'Kuwait': 'Asia',
    'Kyrgyzstan': 'Asia',
    'Laos': 'Asia',
    'Latvia': 'Europe',
    'Lebanon': 'Asia',
    'Lesotho': 'Africa',
    'Liberia': 'Africa',
    'Libya': 'Africa',
    'Lithuania': 'Europe',
    'Luxembourg': 'Europe',
    'Madagascar': 'Africa',
    'Malawi': 'Africa',
    'Malaysia': 'Asia',
    'Maldives': 'Asia',
    'Mali': 'Africa',
    'Malta': 'Europe',
    'Marshall Islands': 'Oceania',
    'Mauritania': 'Africa',
    'Mauritius': 'Africa',
    'Mexico': 'North America',
    'Micronesia (country)': 'Oceania',
    'Moldova': 'Europe',
    'Monaco': 'Europe',
    'Mongolia': 'Asia',
    'Montenegro': 'Europe',
    'Morocco': 'Africa',
    'Mozambique': 'Africa',
    'Myanmar': 'Asia',
    'Namibia': 'Africa',
    'Nauru': 'Oceania',
    'Nepal': 'Asia',
    'Netherlands': 'Europe',
    'New Zealand': 'Oceania',
    'Nicaragua': 'North America',
    'Niger': 'Africa',
    'Nigeria': 'Africa',
    'Niue': 'Oceania',
    'North Korea': 'Asia',
    'North Macedonia': 'Europe',
    'Northern Ireland': 'Europe',
    'Northern Mariana Islands': 'Oceania',
    'Norway': 'Europe',
    'Oman': 'Asia',
    'Pakistan': 'Asia',
    'Palau': 'Oceania',
    'Palestine': 'Asia',
    'Panama': 'North America',
    'Papua New Guinea': 'Oceania',
    'Paraguay': 'South America',
    'Peru': 'South America',
    'Philippines': 'Asia',
    'Poland': 'Europe',
    'Portugal': 'Europe',
    'Puerto Rico': 'North America',
    'Qatar': 'Asia',
    'Romania': 'Europe',
    'Russia': 'Europe',
    'Rwanda': 'Africa',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Samoa': 'Oceania',
    'San Marino': 'Europe',
    'Sao Tome and Principe': 'Africa',
    'Saudi Arabia': 'Asia',
    'Scotland': 'Europe',
    'Senegal': 'Africa',
    'Serbia': 'Europe',
    'Seychelles': 'Africa',
    'Sierra Leone': 'Africa',
    'Singapore': 'Asia',
    'Slovakia': 'Europe',
    'Slovenia': 'Europe',
    'Solomon Islands': 'Oceania',
    'Somalia': 'Africa',
    'South Africa': 'Africa',
    'South Korea': 'Asia',
    'South Sudan': 'Africa',
    'Spain': 'Europe',
    'Sri Lanka': 'Asia',
    'Sudan': 'Africa',
    'Suriname': 'South America',
    'Sweden': 'Europe',
    'Switzerland': 'Europe',
    'Syria': 'Asia',
    'Taiwan': 'Asia',
    'Tajikistan': 'Asia',
    'Tanzania': 'Africa',
    'Thailand': 'Asia',
    'Togo': 'Africa',
    'Tonga': 'Oceania',
    'Trinidad and Tobago': 'North America',
    'Tunisia': 'Africa',
    'Turkey': 'Asia',
    'Turkmenistan': 'Asia',
    'Tuvalu': 'Oceania',
    'Uganda': 'Africa',
    'Ukraine': 'Europe',
    'United Arab Emirates': 'Asia',
    'United States': 'North America',
    'United States Virgin Islands': 'North America',
    'Uruguay': 'South America',
    'Uzbekistan': 'Asia',
    'Vanuatu': 'Oceania',
    'Venezuela': 'South America',
    'Vietnam': 'Asia',
    'Wales': 'Europe',
    'Yemen': 'Asia',
    'Zambia': 'Africa',
    'Zimbabwe': 'Africa'
}
# Map countries to continents and create new column 'Continents'
df['Continents'] = df['Country'].map(country_to_continent)

In [18]:
df['Continents'].value_counts().fillna('missing')

Continents
Africa           1620
Asia             1470
Europe           1350
North America     810
Oceania           570
South America     360
Name: count, dtype: int64

In [19]:
#Cheking output
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6240 entries, 0 to 6839
Data columns (total 32 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Country                                   6240 non-null   object
 1   Code                                      6120 non-null   object
 2   Year                                      6240 non-null   object
 3   Outdoor air pollution                     6240 non-null   int64
 4   High systolic blood pressure              6240 non-null   int64
 5   Diet high in sodium                       6240 non-null   int64
 6   Diet low in whole grains                  6240 non-null   int64
 7   Alcohol use                               6240 non-null   int64
 8   Diet low in fruits                        6240 non-null   int64
 9   Unsafe water source                       6240 non-null   int64
 10  Secondhand smoke                          6240 non-null   int64
 11  Low birth weight                          6240 non-null   int64
 12  Child wasting                             6240 non-null   int64
 13  Unsafe sex                                6240 non-null   int64
 14  Diet low in nuts and seeds                6240 non-null   int64
 15  Household air pollution from solid fuels  6240 non-null   int64
 16  Diet low in Vegetables                    6240 non-null   int64
 17  Low physical activity                     6240 non-null   int64
 18  Smoking                                   6240 non-null   int64
 19  High fasting plasma glucose               6240 non-null   int64
 20  Air pollution                             6240 non-null   int64
 21  High body mass index                      6240 non-null   int64
 22  Unsafe sanitation                         6240 non-null   int64
 23  No access to handwashing facility         6240 non-null   int64
 24  Drug use                                  6240 non-null   int64
 25  Low bone mineral density                  6240 non-null   int64
 26  Vitamin A deficiency                      6240 non-null   int64
 27  Child stunted growt                       6240 non-null   int64
 28  Discontinued breastfeeding                6240 non-null   int64
 29  Non-exclusive breastfeeding               6240 non-null   int64
 30  Iron deficiency                           6240 non-null   int64
 31  Continents                                6180 non-null   object
dtypes: int64(28), object(4)
memory usage: 1.6+ MB

In [20]:
# Convert 'Year' column to integer type
df['Year'] = df['Year'].astype(int)

In [21]:
# Defining Decade group 
df.loc[(df['Year'] >= 1990) & (df['Year'] <= 1999), 'Decade'] = '90s'
df.loc[(df['Year'] >= 2000) & (df['Year'] <= 2009), 'Decade'] = '00s'
df.loc[(df['Year'] >= 2010) & (df['Year'] <= 2019), 'Decade'] = '10s'

In [22]:
#Checking output
df['Decade'].value_counts(dropna = False)

Decade
90s    2080
00s    2080
10s    2080
Name: count, dtype: int64

In [23]:
# Define enviromental risk categories
environmental_factors = ['Outdoor air pollution', 'Unsafe water source', 'Household air pollution from solid fuels', 'Unsafe sanitation', 'No access to handwashing facility']

In [24]:
df['Environmental Factors'] = df[environmental_factors].sum(axis=1)

In [25]:
#Define life style risk category
lifestyle_factors = ['Alcohol use', 'Smoking', 'Low physical activity', 'Diet low in fruits', 'Diet low in Vegetables', 'Diet low in whole grains', 'Diet low in nuts and seeds','Diet high in sodium ']

In [26]:

df['Lifestyle Factors'] = df[lifestyle_factors].sum(axis=1)

In [27]:
#Define Health risk category
health_conditions = ['High systolic blood pressure', 'High fasting plasma glucose', 'High body mass index', 'Vitamin A deficiency', 'Iron deficiency']

In [28]:
df['Health Conditions'] = df[health_conditions].sum(axis=1)

In [29]:
#Define Maternal child risk category
maternal_child_health = ['Low birth weight','Child stunted growt','Child wasting', 'Discontinued breastfeeding', 'Non-exclusive breastfeeding']

In [30]:
df['Maternal and Child Health'] = df[maternal_child_health].sum(axis=1)

In [31]:
df.to_csv(r'/Users/milivanili/Desktop/CF Document 6/01 Data/Prepared Data/df_wrangled.csv')